[Unit]
Description=PushIT Celery Worker
After=network.target redis-server.service

[Service]
User=django
Group=www-data
WorkingDirectory=/var/www/django_websites/PushIT_server
ExecStart=/var/www/django_websites/PushIT_server/.venv/bin/celery -A config worker --loglevel=info --concurrency=2 -Q pushit
ExecReload=/bin/kill -s HUP $MAINPID
Restart=on-failure
RestartSec=10
KillMode=mixed
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
