[Unit]
Description=PushIT Celery Worker
After=network.target redis-server.service

[Service]
User=django
Group=www-data
WorkingDirectory=/opt/pushit
ExecStart=/opt/pushit/.venv/bin/celery -A config worker --loglevel=info --concurrency=2
ExecReload=/bin/kill -s HUP $MAINPID
Restart=on-failure
RestartSec=10
KillMode=mixed
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
